<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/notes" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name of Note</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="note">Note</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" type="note" name="note"
            class="form-control"></textarea>
    </div>
    <input type="submit" value="Add Note" class="btn btn-primary btn-block">
</form>
<h4>Notes</h4>
<ul class="list-group">
    {{#each notes}}
    <li class="list-group-item">{{this.name}}: {{this.note}}</li>
    {{/each}}
</ul>

<a href="/api/notes" class="btn light mt-4">Visit API</a>